<div>
  <h2 class="h1 text-white text-center bg-primary p-4">Foros</h2>
</div>

<div>
  <a *ngIf="this.userGlobal.user && this.userGlobal.user.containsRole('ROLE_ADMIN')" class="btn btn-primary m-2" [routerLink]="['/forum/create']">Create</a>
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Moderado</th>
        <th *ngIf="this.userGlobal.user && this.userGlobal.user.containsRole('ROLE_ADMIN')">Editar</th>
        <th *ngIf="this.userGlobal.user && this.userGlobal.user.containsRole('ROLE_ADMIN')">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forum of forums">
        <td>
          <a [routerLink]="['/forum/', forum.id, 'topics']">{{
            forum.id
          }}</a>
        </td>
        <td>{{ forum.titulo }}</td>
        <td>{{ forum.descripcion }}</td>
        <td *ngIf="forum.moderado">Si</td>
        <td *ngIf="!forum.moderado">No</td>
        <td *ngIf="this.userGlobal.user && this.userGlobal.user.containsRole('ROLE_ADMIN')">
          <a *ngIf="this.userGlobal.user && this.userGlobal.user.containsRole('ROLE_ADMIN')" [routerLink]="['/forum/edit/', forum.id]"
            class="btn btn-warning">
              Editar
          </a>
        </td>
        <td *ngIf="this.userGlobal.user && this.userGlobal.user.containsRole('ROLE_ADMIN')">
          <button *ngIf="this.userGlobal.user && this.userGlobal.user.containsRole('ROLE_ADMIN')"
            class="btn btn-danger" (click)="delete(forum.id)">
              Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
