<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body>
    <div class="navbar bg-dark p-4">
      <h1 class="text-white h1">MyForum</h1>
      <nav class="text-white">
        <ul class="row">
          <li class="pl-4" *ngIf="this.userService.user && (this.userService.user.containsRole('ROLE_ADMIN') || this.userService.user.containsRole('ROLE_MOD'))">
            <a class="h4 text-primary" [routerLink]="['/mod']">Moderar</a>
          </li>
          <li class="pl-4" >
            <a class="h4 text-white" [routerLink]="['/forum']">Foros</a>
          </li>
          <li class="pl-4" *ngIf="!(this.userService.user && this.userService.user.name)">
            <a class="h4 text-white" [routerLink]="['/login']">Log in</a>
          </li>
          <li class="pl-4" *ngIf="this.userService.user && this.userService.user.name">
            <a class="h4 text-white" [routerLink]="['/login']">{{this.userService.user.name}}</a>
          </li>

        </ul>
      </nav>
    </div>

    <router-outlet></router-outlet>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>


