<html>

<link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">

<img class="imagePrincipal" src="/assets/Images/undraw_Process_re_gws7.svg" width="430px">
<p class=letter>/Letters_</p>
<p class=login>Log In</p>

<p id=loginbox>
  <img class="imagelogin" src="/assets/Images/letter.svg" width=35px>
  <input class="txtArea" type="text" name="txtLetter"> <br>
  <img class="imagelogin" src="/assets/Images/lock.svg" width=35px>
  <input class="txtArea" type="text" name="txtPassword"><br>
  <button type="button">OK</button>
</p>

</html>


<router-outlet></router-outlet>
