* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Peddana", serif;
  margin-left: 80px;
  margin-right: 80px;
}

.letter {
  font-size: 90px;
  color: #707070;
  text-shadow: 2px 2px 5px #707070;
}
