<div>
  <h2 class="h1 text-white text-center bg-primary p-4">Crear Tema De Discusion</h2>
</div>

<div class="container">
  <form (ngSubmit)="create()" #createForm="ngForm">
    <div class="form-group">
      <label for="name">Titulo</label>
      <input
        id="titulo"
        class="form-control"
        type="text"
        name="titulo"
        required
        [(ngModel)]="topic.titulo"
        #txtName="ngModel"
      />
      <div
        [hidden]="txtName.valid || !txtName.touched"
        class="alert alert-danger"
      >
        Titulo obligatorio
      </div>
    </div>

    <div class="form-group">
      <label for="contenido">Contenido</label>
      <textarea
        id="contenido"
        class="form-control"
        type="text"
        name="contenido"
        [(ngModel)]="topic.contenido"
        row="2"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!canSubmit">
      Save
    </button>
    <button (click)="cancel()" class="btn btn-danger">Cancel</button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>

